.Banner {
    position: relative;
    width: 1905px;
    opacity: 0.9;
}

.bannerunterschrift  {
    display: block;
    position: relative;
}

.bannerunterschrift span {
    background-color: red;
    position: absolute;
    bottom:40px;
    width: 1905px;
    line-height: 2.8em;
    text-align: center;
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.5);
    font-size: 70px;
}

.bannerunterschrift img {
    display: block;
}

.Navigation{
    width: 631px;
    margin-left: 635px;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    width: 125.2px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



.Seite {
    display: block;
    position: absolute;
    width: 450px;
    height: 1015px;
    position: fixed;
    z-index: -3;
    margin-top: 3px;
    opacity: 0.85;
}

.Seite2 {
    display: block;
    position: absolute;
    width: 450px;
    height: 1015px;
    position: fixed;
    z-index: -3;
    margin-top: 3px;
    margin-left: 1500px;
    opacity: 0.85;
}

.Rand {
    position: absolute;
    display: block;
    top: 5px;


}

.Rand2 {
    position: absolute;
    display: block;
    top: 5px;
}

.test {
    height: 6000px;
}

.Login {
    position: absolute;
    margin-left: 1820px;
    z-index: 7;
    margin-top: 8px;
}

.Login2 {
    color:grey;
    text-decoration: none;
    text-decoration: underline;
}

#kontaktformular {
    position: absolute;
    right: 800px;
    top: 500px;
    border-color: #111;
    border-width: 2px;
    border-style: solid;
    width: 25%;
    padding: 40px;
    border-style: inset;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

